<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANTON EGO</title>
</head>
<body>
    <center>
    <h1>Es un crítico de cocina muy famoso en Francia, esta empeñado en cerrar el restaurante <br> Gusteau criticando su comida de malísima forma, cuando se entera de que Linguini es el que ha hecho popular el <br> restaurante, cuando llega y prueba el Ratatouille de Remy se queda encantado y hace una buena crítica. <br> Tras que Skinner y el inspector de sanidad delatan de que había ratas en el restaurante, Ego pierde su empleo de critico, <br> pero va al nuevo restaurante de Linguini para probar la comida de Remy.
    </center>
    <div>
        <img src="public/images/2-2.jpg" alt="" height="400px" width="400px">
    </div>
    </h1>
</body>
</html>